@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
}

h1 {
	text-align: center;
}
a {
	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 0 5px;
}
.Foot {
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	font-size: 20px;
}

table {
	text-align: center;
}

div, h3 {
	display: flex;
	justify-content: center;
}

h3 {
	padding: 20px 0;
	
}
.Head {
		padding-bottom: 20px;
}